.PracticeArea{
    background-color: #eeeded;
}
.PracticeAreaTitle{
    padding: 20px 5px;
    margin: 10px;
    width: 300px;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 5px solid;
    border-color:#BFEEE9 ;
}